<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MoveMeterStudio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>96FD566F1C9D34D40075BF12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96FD56801C9D34D40075BF12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96FD568B1C9D34D50075BF12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
